@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HOME */

body {
    display: flex;
    justify-content: center;
    justify-self: center;

    position: relative;
}

div.container {
    min-width: 840px;
    min-height: 500px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 40px;
    position: absolute;

    border-radius: 10px;

    background-color: white;

    box-shadow: 2px 3px 6px -2px rgba(0, 0, 0, 0.6);
    animation: up 600ms ease-in-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateZ(40px);
    }

    to {
        opacity: 1;
    }
}

div.container .box {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.box h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
}

.box .item {
    padding: 8px;
    background-color: #6202EE;
    border-radius: 5px;
    width: 250px;
    height: 30px;

    color: aliceblue;
    text-align: center;
    line-height: 30px;

    box-shadow: 2px 3px 6px -2px rgba(0, 0, 0, 0.6);

    font-family: 'Merriweather', serif;
    font-size: 20px;

    margin-bottom: 20px;
}

.box .item:nth-child(1) {
    margin-top: 20px;
}

.box .item:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.box .button {
    margin-top: 60px;
    text-align: center;
}

.button-new {
    margin-top: 20px;
    text-align: center;
}

button {
    color: aliceblue;
    background-color: #01A39D;
    border-radius: 200px;

    width: 100px;
    height: 40px;

    font-weight: bolder;

    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* NEW BOOK */

div.new_book p {
    font-family: 'Merriweather', serif;
    font-size: 24px;

    text-align: center;

    margin-bottom: 10px;
}

input {
    border-radius: 3px;
	border: 1px solid #01A39D;
	outline: none;
	color: #000000;
	padding: 5px 8px 5px 8px;
	box-shadow: 1px 1px 2px #000000;
    background: #ffffff;
    margin-bottom: 25px;
}

input[type="text"] {
    width: 325px;
    font-size: 18px;
}

.selectdiv {
    min-width: 50px;
    text-align: center;
  }
  
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #01A39D;
    /*left line */
    
    position: absolute;
    pointer-events: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    text-align: center;
    display: block;
    width: 100%;
    max-width: 110px;
    height: 35px;
    /* margin: 5px 0px; */
    padding: 0px 24px; 
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #01A39D;
    -ms-word-break: normal;
    word-break: normal;
    margin-left: 115px;
  }

  /* TO READ */

  .title-toread {
      text-align: center;
      margin-top: 20px;

      font-family: 'Playfair Display', serif;

      color: white;
  }

  div.container-books {
    width: 900px;
    height: 550px;

    margin-top: 40px;
    position: absolute;

    border-radius: 10px;

    background-color: #ffffff;

    box-shadow: 2px 3px 6px -2px rgba(0, 0, 0, 0.6);

    background-image: url('https://images.pexels.com/photos/34627/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;

    animation: up 600ms ease-in-out;
}

.books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px;
}

.book {
    background-color: #ffffff;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    cursor: pointer;
}

.book:hover {
    opacity: 0.95;
    transform: scale(1.01);
}

.book-image span img {
    width: 100px;
    height: 150px;
}

.details .book-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
} 

.details .book-name {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 15pt;
    text-align: center;
}

.details {
    text-align: center;
    justify-content: center;
    
    margin-top: 20px;
}