{% extends "layout.njk" %}

{% block content %}    

<body style="background: url('https://www.freevector.com/uploads/vector/preview/30227/BookClipartSet_02.jpg'); background-size: 200px">
    <div class="container">
        <section class="box">
            <div class="title">
                <h1>My Books</h1>
            </div>
            <div class="box_options">
                <a href="/reading"><div class="item">
                Reading
                </div></a>
                <a href="/to_read"><div class="item">
                To Read
                </div></a>
                <a href="/read"><div class="item">
                Read
                </div></a>
                <div class="button">
                    <a href="/new_book"><button>ADD BOOK</button></a>
                </div>
            </div>
        </section>
        <section class="side-image" style="background: url('https://images.pexels.com/photos/2067569/pexels-photo-2067569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center / cover"></section>
    </div>

{% endblock %}